/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;}

ol, ul {
	list-style: none;}

blockquote, q {
	quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;}

* {
	-webkit-box-sizing: border-box; /* SACRED. (http://css-tricks.com/box-sizing/) */
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

*:focus {
    outline: none;
}

/* WP IMPROVEMENTS */
input, button, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;}

button:focus, a:focus {
	outline:0;}

/*HIDE ON LOAD*/
/*.onLoad {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 0; }

.onLoad.hide {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 1; }*/

.overflow-active{
	overflow: hidden;}


/*GOOGLE MAPS MARKERS*/
.gm-style .gm-style-iw {
	overflow: inherit!important;}

.gm-style .gm-style-iw > div {
    width: 180px;
    top: 10px;
    position: relative;
    left: 12px;}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3) > div > div {
	background-color: black!important;
	box-shadow: none;}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3){
	border-right: none;
    border-left: none;
    border-top: none;}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3){
	top: 257px;}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3) > div(1) {
	left: -8px;
    top: 1px;}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3) > div(1) > div {
	transform: skewX(37.6deg);}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3) > div(2) {
	top: -1px;
    left: 8px;}

.gm-style > div > div:nth-child(3) > div > div:nth-child(4) > div > div > div:nth-child(3) > div(2) > div {
	transform: skewX(-34.6deg);}


/*SLIDER BUGS*/
/* HERO SLIDER */
.hero-slider,
.med-slider,
.thumb-slider {
	overflow: hidden;}

.hero-slider .custom:nth-child(n+1),
.med-slider .custom:nth-child(n+1),
.thumb-slider .custom:nth-child(n+1) {
	display: none;}

.slick-initialized,
.slick-slide.slick-current.slick-active,
.slick-slide:first-child {
	display: block;}

.hero-slider.slick-initialized,
.hero-slider .custom:nth-child(n+1),
.med-slider.slick-initialized,
.med-slider .custom:nth-child(n+1),
.thumb-slider.slick-initialized,
.thumb-slider .custom:nth-child(n+1) {
	display: inherit;}



/* menu */
.html-overflow-active{
	height: 100%;
}

.overflow-active{
	-webkit-overflow-scrolling: touch;
	/* -webkit-overflow-scrolling: auto !important; */
	overflow: hidden;
	left: 0;
	position: fixed;
	height: 100%;
	top: 0;
	width: 100%;
}

.aside-overflow-active {
	top: 50px;
	position: relative;}

	@media (max-width: 800px) {
		.tab-menu li{
			margin-right: 20px;}
		.hero-nav-close {
			top: 40px;
			right: 30px;} }
	@media (max-width: 400px) {
		.hero-nav-close {
			top: 80px;
			right: 30px;} }


/*// STYLING TABS*/

div.wpcf7-mail-sent-ok {
	float: left;
}
